@{
    ViewBag.Title = "Home Page";
    
}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   Bug Tracker <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i>statistic
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Welcome to bug tracker</strong> Try out <a href="http://localhost:52689/" class="alert-link">Bug tracker</a> for additional features!
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <h1>Admin Role</h1>
                                <ul>
                                    <li>Can send in help tickets</li>
                                    <li>Can modify all tickets from all projects</li>
                                    <li>Can create and modify projects</li>
                                    <li>Can assign project managers to projects</li>
                                    <li>Can assign and unassign roles to users</li>
                                    <li>Can comment on all tickets</li>
                                    <li>Can add attachments to all tickets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <h1>Project manage role</h1>
                                <ul>
                                    <li>Can assign developers to projects</li>
                                    <li>Can modify tickets of all projects they own</li>
                                    <li>Can view all projects</li>
                                    <li>Can create projects</li>
                                    <li>Can assign developers to tickets that are under your projects</li>
                                    <li>Can create help tickets</li>
                                    <li>Can comment on tickets they are the Project Manager of</li>
                                    <li>Can send attachments to tickets they are the Project Manager of</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <h1>Developer Role</h1>
                                <ul>
                                <li>Can edit tickets that they are assigned to</li>
                                <li>Can view all tickets of projects that they are on</li>
                                <li>Can comment on tickets they are assigned to</li>
                                <li>Can send attachments to tickets they are assigned to</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
          </div>
</div>

    </div>